* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

header,
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header {
  background: linear-gradient(
    to bottom,
    rgb(114, 215, 166),
    rgba(227, 239, 233, 0.7)
  );
  position: fixed;
  z-index: 100;
}

h1 {
  margin: auto;
  margin-left: 10px;
}

button {
  border: none;
  border-left: double rgb(46, 85, 66);
  padding: 10px;
  background-color: rgba(114, 215, 166, 0.545);
  transition: background-color 0.5s, text-shadow 0.5s;
}

button:hover {
  background-color: rgb(81, 212, 149);
  text-shadow: 0.5px 0.5px rgb(46, 85, 66);
  cursor: pointer;
}

main {
  width: 100%;
  background-color: rgb(227, 239, 233);
  padding: 10px;
  padding-top: 40px;
  columns: 4;
  column-gap: 10px;
}

.cat-container {
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
}

.cat-container img {
  max-width: 100%;
  border-radius: 5%;
  transition: transform 0.3s ease, width 0.3s ease;
}

.cat-container img:hover {
  transform: scale(1.5);
  z-index: 99;
} 

footer {
  align-items: center;
  background: linear-gradient(
    to top,
    rgb(114, 215, 166),
    rgba(227, 239, 233, 0.7)
  );
}

p {
  margin-left: 10px;
}

@media (max-width: 1200px){
  main{
    columns: 3;

  }
}

@media (max-width: 768px){
  main{
    columns: 2;

  }
}

@media (max-width: 548px){
  main{
    columns: 1;

  }
}